* {
  margin: 0;
  box-sizing: border-box;
}

/* /fonts */

@font-face {
  font-family: "Regular";
  src: url("../src/assets/Fonts/Lexend-Regular.ttf");
}

@font-face {
  font-family: "Medium";
  src: url("../src/assets/Fonts/Lexend-Medium.ttf");
}

@font-face {
  font-family: "Light";
  src: url("../src/assets/Fonts/Lexend-Light.ttf");
}

@font-face {
  font-family: "SemiBold";
  src: url("../src/assets/Fonts/Lexend-SemiBold.ttf");
}

@font-face {
  font-family: "Bold";
  src: url("../src/assets/Fonts/Lexend-Bold.ttf");
}
